body {
  background-color: slategray;
}

.title {
  color: darkmagenta;
  text-align: center;
}

.label {
  color: darksalmon;
}

.reservation {
  color: darkmagenta;
  text-align: center;
}

.input {
  background-color: lightskyblue;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.25em;
  margin-top: 0.7em;
}

input {
  padding: 0.5em;
}

.button {
  background-color: gray;
  color: white;
  margin: 1.5em 0;
  padding: 1em;
  font-size: 1em;
}